.box{
    background-color: lightblue;
    width: 25%;
    height: auto;
    margin-top: 100px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgb(54, 51, 51);
    translate: 0px 50px;
    margin-bottom: 15%;
    padding: 2%;
}