.box {
    box-shadow: 1px 1px 5px white;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #202340;
    margin-left: 35%;
}

.capsule {
    align-items: center;
    padding: 10px 10px;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    color: black;
    translate: 0px 5px;
}